<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tic-Tac-Toe Leaderboard</title>
    <link th:href="@{/css/leaderboard.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="leaderboard-content">
    <h2>Leaderboard</h2>
    <table>
        <thead>
        <tr>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Winner</th>
            <th>Start Time</th>
            <th>End Time</th>
<!--            <th>Elapsed Time</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${leaderboard}">
            <td th:text="${game.player1}"></td>
            <td th:text="${game.player2}"></td>
            <td th:text="${game.winner}"></td>
            <td th:text="${#dates.format(game.getStartTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${#dates.format(game.lastMoveTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
<!--            <td></td>-->
        </tr>
        </tbody>
    </table>
</div>

<!--<script>-->
<!--    let counter = 1;-->

<!--    for(var i of document.querySelectorAll(`body > div > table > tbody > tr:nth-child(${counter}) > td:nth-child(4)`)){-->
<!--        document.querySelector("body > div > table > tbody > tr:nth-child(1) > td:nth-child(6)").innerHTML =-->
<!--            Date.parse(-->
<!--                document.querySelector(`body > div > table > tbody > tr:nth-child(${counter}) > td:nth-child(5)`).innerHTML - document.querySelector(`body > div > table > tbody > tr:nth-child(${counter}) > td:nth-child(4)`).innerHTML-->
<!--            )-->
<!--        counter++-->
<!--    }-->
<!--</script>-->

</body>
</html>